#red-border {
    border-radius: 33px;
    border: #C53139 solid 5px;
    padding: 38px 38px 18px 38px;
    margin-top: 80px;
}

.text-plugin {
    display: flex;
    align-items: center;
    gap: 31px;
    font-size: 25px;
    margin-bottom: 20px;
}

#heder-border {
    display: flex;
    align-items: center;
    font-size: 51px;
    justify-content: center;
    gap: 20px;
}

#blue-border {
    border-radius: 33px;
    border: #6C55F7 solid 9px;
    background: #606CB1;
    background: radial-gradient(circle, rgba(96, 108, 177, 0.4) 7%, rgba(49, 57, 103, 0.4) 95%);
    padding: 34px;
    margin-top: 60px;
}

#form {
    text-decoration: none;
    background: #6C55F7;
    color: #C7C1EB;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: center;
    transition: all 0.2s;
}

#block-form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#form:hover {
    background: #8773f7;
}